<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unicom.mapper.StaComplaintRecordMapper">

    <resultMap id="resultMap" type="StaComplaintRecord">
        <id column="complaint_num" property="complaintNum"/>
        <result column="down_type " property="downType "/>
        <result column="down_appear" property="downAppear"/>
        <result column="mobile_num" property="mobileNum"/>
        <result column="complaint_address" property="complaintAddress"/>
        <result column="create_time" property="createTime"/>
        <result column="net_type" property="netType"/>
        <result column="is_recovery" property="isRecovery"/>
        <result column="lng" property="lng"/>
        <result column="lac" property="lac"/>
        <result column="big_x" property="bigX"/>
        <result column="big_y" property="bigY"/>
        <result column="user_emotion" property="userEmotion"/>
        <result column="reserved1" property="reserved1"/>
        <result column="reserved2" property="reserved2"/>
        <association property="staArea" javaType="StaArea">
            <id column="area_id" property="areaId"/>
            <result column="area_name" property="areaName"/>
            <result column="area_reserved1" property="reserved1"/>
            <result column="area_reserved2" property="reserved2"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        a.*,b.area_name,
        b.reserved1 area_reserved1,
        b.reserved2 area_reserved2
  </sql>
    <sql id="Base_Where">
        <where>
            and a.area_id = b.area_id
            <choose>
                <when test="complaintNum != null and complaintNum!=''">
                    and complaint_num = #{complaintNum}
                </when>
                <when test="complaintAddress != null and complaintAddress !=''">
                    and a.complaint_address like concat('%',#{complaintAddress},"%")
                </when>
                <when test="mobileNum != null and mobileNum !=''">
                    and a.mobile_num like concat('%',#{mobileNum},"%")
                </when>
                <when test="downType != null and downType!=''">
                    and down_type = #{downType}
                </when>
                <when test="netType != null and netType!=''">
                    and net_Type = #{netType}
                </when>
                <when test="staArea!=null and staArea.areaId != null and staArea.areaId!=''">
                    and b.area_id = #{staArea.areaId}
                </when>
            </choose>
        </where>
    </sql>
    <select id="getById" parameterType="String" resultMap="resultMap">
        select
        <include refid="Base_Column_List"/>
        from sta_complaint_record a,sta_area area
        where a.area_id = b.area_id and a.complaint_num = #{complaintNum}
    </select>

    <select id="getAll" parameterType="StaComplaintRecord" resultMap="resultMap">
        select
        <include refid="Base_Column_List"/>
        from sta_complaint_record a,sta_area b
        <include refid="Base_Where"/>

    </select>

    <select id="countAll" resultType="java.lang.Integer">
        select count(*) from sta_complaint_record a,sta_area b
        <include refid="Base_Where"/>
    </select>

    <insert id="add" parameterType="StaComplaintRecord">
        insert into sta_complaint_record set
        complaint_num = #{complaintNum},
  		down_type  = #{downType },
        down_appear = #{downAppear},
        mobile_num = #{mobileNum},
        complaint_address = #{complaintAddress},
        create_time = #{createTime},
        net_type = #{netType},
        is_recovery = #{isRecovery},
        lng = #{lng},
        lac = #{lac},
        big_x = #{bigX},
        user_emotion = #{userEmotion},
        <if test="staArea!=null and staArea.areaId!=null and staArea.areaId!=''">
            area_id = #{staArea.areaId},
        </if>
        reserved1 = #{reserved1},
        reserved2 = #{reserved2}
    </insert>

    <update id="update" parameterType="StaComplaintRecord">
        update sta_complaint_record set
        down_type  = #{downType },
        down_appear = #{downAppear},
        mobile_num = #{mobileNum},
        complaint_address = #{complaintAddress},
        create_time = #{createTime},
        net_type = #{netType},
        is_recovery = #{isRecovery},
        lng = #{lng},
        lac = #{lac},
        big_x = #{bigX},
        user_emotion = #{userEmotion},
        <if test="staArea!=null and staArea.areaId!=null and staArea.areaId!=''">
            area_id = #{staArea.areaId},
        </if>
        reserved1 = #{reserved1},
        reserved2 = #{reserved2}
        where complaint_num = #{complaintNum}
    </update>

    <delete id="delete" parameterType="String">
        delete from sta_complaint_record where complaint_num = #{complaintNum}
    </delete>

</mapper>